In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
!pip install scipy

Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.12/site-packages (1.13.1)
Requirement already satisfied: numpy<2.3,>=1.22.4 in /opt/anaconda3/lib/python3.12/site-packages (from scipy) (1.26.4)

In [13]:
!pip install statistics

Collecting statistics
  Downloading statistics-1.0.3.5.tar.gz (8.3 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: docutils>=0.3 in /opt/anaconda3/lib/python3.12/site-packages (from statistics) (0.18.1)
Building wheels for collected packages: statistics
  Building wheel for statistics (setup.py) ... done
  Created wheel for statistics: filename=statistics-1.0.3.5-py3-none-any.whl size=7435 sha256=e4ffe31b080565e458446c7c9c35cbcd291e6d5c1355bed0a7f120c18662a5d1
  Stored in directory: /Users/phoelapyae/Library/Caches/pip/wheels/10/9c/1a/0c68a89e4533a18e9f9902018b94ffc2481139818b67cbb05a
Successfully built statistics
Installing collected packages: statistics
Successfully installed statistics-1.0.3.5

In [7]:
!pip install seaborn

Requirement already satisfied: seaborn in /opt/anaconda3/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /opt/anaconda3/lib/python3.12/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /opt/anaconda3/lib/python3.12/site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /opt/anaconda3/lib/python3.12/site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [11]:
!pip install matplotlib

Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.12/site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.23 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [2]:
a,b=input('enter the value of a'),input('enter the value of b')
print('Before swaping the value of a is {0} and the  value of b is {1}.'.format(a,b))
a,b=b,a
print('After swaping the value of a is {0} and the  value of b is {1}.'.format(a,b))

enter the value of a 1
enter the value of b 2

Before swaping the value of a is 1 and the  value of b is 2.
After swaping the value of a is 2 and the  value of b is 1.

In [4]:
#strings data
str='Hello World!'
print(str)
print(str[0])
print(str[2:5])
print(str[2:])
print(str*3)
print(str+"Program")

Hello World!
H
llo
llo World!
Hello World!Hello World!Hello World!
Hello World!Program

In [6]:
#list data
list=['python',777,10.0,50,'hello']
print(list)
mylist=[1234,'program']
print(mylist)
print(list[0])
print(list[1:4])
print(list[2:])
print(mylist*4)
print(list+mylist)

['python', 777, 10.0, 50, 'hello']
[1234, 'program']
python
[777, 10.0, 50]
[10.0, 50, 'hello']
[1234, 'program', 1234, 'program', 1234, 'program', 1234, 'program']
['python', 777, 10.0, 50, 'hello', 1234, 'program']

In [8]:
#tuples data
tuple=('python',777,10.0,50,'hello')
print(tuple)
mytuple=(1234,'program')
print(mylist)
print(tuple[0])
print(tuple[1:4])
print(tuple[2:])
print(mytuple*4)
print(tuple+mytuple)

('python', 777, 10.0, 50, 'hello')
[1234, 'program']
python
(777, 10.0, 50)
(10.0, 50, 'hello')
(1234, 'program', 1234, 'program', 1234, 'program', 1234, 'program')
('python', 777, 10.0, 50, 'hello', 1234, 'program')

In [10]:
list=[1,2,3,4]
tuple=(1,2,3,4)
list[2]=1000
#tuple[2]=1000
print(list)

[1, 2, 1000, 4]

In [12]:
#dictionary
mydict={'name':'john','code':232,'dept':'cs'}
print(mydict)
print(mydict.keys())
print(mydict.values())

{'name': 'john', 'code': 232, 'dept': 'cs'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 232, 'cs'])

In [14]:
#Arithmetic Operator
a=21
b=10
c=0
c=a+b
print('Result of a+b is:',c)
c=a-b
print('Result of a-b is:',c)
c=a*b
print('Result of a*b is:',c)
c=a/b
print('Result of a/b is:',c)
c=a%b
print('Result of a%b is:',c)

Result of a+b is: 31
Result of a-b is: 11
Result of a*b is: 210
Result of a/b is: 2.1
Result of a%b is: 1

In [16]:
#Relational Operator ( == ) ( != ) ( > ) ( < ) ( >= ) ( <= )
a=21 
b=10

if(a==b):
    print('a is equal b')
else:
    print('a is not equal b')

if(a<b):
    print('a is less than b')
else:
    print('a is not less than b')

a is not equal b
a is not less than b

In [18]:
#Assignment Operator 
# = , +=Add AND , -=Substract AND , *=Multiply AND , /=Divide AND , %=Modulus AND , **=Exponent AND , //=Floor Division

a=21
b=10

c=a+b
print('value of c:',c)
c+=a
print('value of c:',c)
c*=a
print('value of c:',c)

value of c: 31
value of c: 52
value of c: 1092

In [20]:
#logical Operator
# and  or  not

a=21
b=10
if a>0 and b>0:
    print('The numbers are greater than zero.')
elif a>0 or b>0:
    print('Both numbers or one of these numbers is greater than zero.')
else:
    print('At least one number is not greater zero.')

The numbers are greater than zero.

In [22]:
x=int(input('Enter the value of x'))

if x==0:
    print('x is zero')
elif x>0:
    print('x is positive')
else:
    print('x is negative')

Enter the value of x 4

x is positive

In [28]:
amount=int(input('Enter amount:'))
if amount<1000:
    discount=amount*0.05
    print('Discount price:',discount)

elif amount>1000 and amount<5000:
    discount=amount*0.10
    print('Discount price:',discount)

else:
    discount=amount*0.15
    print('Discount price:',discount)

print('Net payable:',amount-discount)

Enter amount: 800

Discount price: 40.0
Net payable: 760.0

In [40]:
#Nested If Statement
#Divisable Value or Not Program

num=int(input('Enter number'))
if num%2==0:
    
    if num%3==0:
        print('divisable by 2 and 3')
    else:
        print('divisable by 2, not divisable by 3')
        
else:
    
    if num%3==0:
        print('not divisable by 2,divasable by 3')
    else:
        print('not divisable by 2,not divisable by 3')

Enter number 8

divisable by 2, not divisable by 3

In [2]:
#Looping Program
# wile loop
#Using Else  Statement with while loops

count=0
while count<6:
    print(count,' is less than six.')
    count=count+1
else:
    print(count,' reach to targeted point.')

0  is less than six.
1  is less than six.
2  is less than six.
3  is less than six.
4  is less than six.
5  is less than six.
6  reach to targeted point.

In [4]:
#For loop statement
words=['cat','window','computer']
for w in words:
    print(w,len(w))

cat 3
window 6
computer 8

In [8]:
#The range() function
a=list(range(5,10))
b=list(range(0,10,3))
c=list(range(-10,-100,-30))
print(a)
print(b)
print(c)

[5, 6, 7, 8, 9]
[0, 3, 6, 9]
[-10, -40, -70]

In [10]:
#Interating by Sequence Index
fruits=['banana','apple','mango','orange']
for i in range(len(fruits)):
    print('Fruit:',i,fruits[i])
print('Good Bye')

Fruit: 0 banana
Fruit: 1 apple
Fruit: 2 mango
Fruit: 3 orange
Good Bye

In [12]:
#Reverse order program
list=[1,2,3,4,5,6,7,8,9]
new_list=reversed(list)
for item in new_list:
    print(item,end=' ')

9 8 7 6 5 4 3 2 1

In [20]:
#Using Else Statement with for loops
#Checking even Number program
numbers=[11,13,14,23,45,36,17,28,50]
for num in numbers:
    if num%2==0:
        print([num],' is an even number.')
    else:
        print([num],' is an odd number.')

[11]  is an odd number.
[13]  is an odd number.
[14]  is an even number.
[23]  is an odd number.
[45]  is an odd number.
[36]  is an even number.
[17]  is an odd number.
[28]  is an even number.
[50]  is an even number.

In [2]:
#Nested loops
for i in range(2,9):
    for j in range(1,11):
        print(i,'*',j,'=',i*j)
    print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [12]:
#Nested loops
i=1
while i<17:
    j=1
    while j<=10:
        print(i,'*',j,'=',i*j)
        j+=1
    i+=1
    print('\n')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10


2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50


6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60


7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70


8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80


9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90


10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100


11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110


12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120


13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130


14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140


15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150


16 * 1 = 16
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64
16 * 5 = 80
16 * 6 = 96
16 * 7 = 112
16 * 8 = 128
16 * 9 = 144
16 * 10 = 160

In [8]:
#Loop Control Statement
#Break statement

for i in range(2,10):
    for j in range(1,11):
        if i==j:
            break
        print(i,'*',j,'=',i*j)
    print()

2 * 1 = 2

3 * 1 = 3
3 * 2 = 6

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72

In [10]:
#Continue statement

for i in range(2,10):
    for j in range(1,11):
        if i==j:
            continue
        print(i,'*',j,'=',i*j)
    print()

2 * 1 = 2
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 10 = 90

In [14]:
#Pass statement

for i in range(2,10):
    for j in range(1,11):
        if i==j:
            pass
        print(i,'*',j,'=',i*j)
    print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [8]:
#Numbers part 1
#Constants provided by math module
import math
print(math.e) #Euler's Number
print(math.pi) #Pi value
print(math.tau) #Tau value
print(math.inf) #Infinity
print(-math.inf) #Infinity
print(math.nan) #Not a Number

2.718281828459045
3.141592653589793
6.283185307179586
inf
-inf
nan

In [6]:
#abs(x) , fabs(x) , exp(x) , pow(x) , log(x) Method
import math
a=-56

b=abs(a)
print('The absolute value of a is ',b)

c=math.fabs(a)
print('The absolute value of a is ',c)

x=9
print(pow(a,4))
print(math.exp(a))
print(math.log(20,3))
print(math.log2(20))
print(math.log10(100))

The absolute value of a is  56
The absolute value of a is  56.0
9834496
4.780892883885469e-25
2.7268330278608417
4.321928094887363
2.0

In [10]:
#Numbers part2
#Sum and Product Function
import math
mylist=(2,3,2,5,7,5,8,4)

x=sum(mylist)
print ('Sum is:',x)

y=math.prod(mylist)
print('Prouduct is:',y)

Sum is: 36
Prouduct is: 67200

In [14]:
#Mean,Median and Mode function
import statistics
a=[2,4,6,8,10,12,14,16,18,20]
print('Mean:',statistics.mean(a))
print('Median:',statistics.median(a))
print('Mode:',statistics.mode(a))

Mean: 11
Median: 11.0
Mode: 2

In [16]:
#Square Root Function
import math
a=int(input('Enter number'))
b=math.sqrt(a)
print('Square root of ',a ,' is ',b)

Enter number 3

Square root of  3  is  1.7320508075688772

In [18]:
#Distance Function
import math
x=[11]
y=[20]
print(math.dist(x,y))

9.0

In [44]:
#Numbers part3
#Random Numbers
# randint randrange random uniform sample choice choices shuffle seed
import random
print ('Random of random:',random.random())
print ('Random int:',random.randint(1,20))
print ('Random range:',random.randrange(1,50,2))
print ('Random uniform:',random.uniform(6,9))

seq=(12,23,14,56,7,65,45,35,88)
print ('Random Choice:',random.choice(seq))
print ('Random Choices:',random.choices(seq,k=5))
print ('Random simple:',random.sample(seq,5))

random.seed(4)
print ('Random number with seed 4 is:',random.random())

My_list=[1,2,3,4,5,6,7]
print('\nOriginal List:')
print(My_list)

random.shuffle(My_list)
print('\nAfter first shuffle:')
print(My_list)

random.shuffle(My_list)
print('\nAfter second shuffle:')
print(My_list)

Random of random: 0.8268716790242738
Random int: 9
Random range: 13
Random uniform: 8.828878080713949
Random Choice: 12
Random Choices: [35, 35, 35, 23, 14]
Random simple: [65, 23, 45, 7, 14]
Random number with seed 4 is: 0.23604808973743452

Original List:
[1, 2, 3, 4, 5, 6, 7]

After first shuffle:
[2, 3, 7, 5, 4, 6, 1]

After second shuffle:
[3, 4, 6, 7, 5, 1, 2]

In [15]:
#Number part 4
#Trigonometric Function
# math.cos() math.sin() math.tan()
#math.acos() math.asin() math.atan() math.atan2()
import math
print('Sine:',math.sin(math.pi/3))
print('Arc Sine:',math.asin(0))
print( )

print('Cosine:', math.cos(math.pi/6))
print('Arc Cosine:', math.acos(1))
print( )

print('Tan:', math.tan(math.pi/3))
print('Arc Tan:', math.atan(1))
print( )

print('Arc tan2:', math.atan2(-1,1))
print( )

#Degrees and Radians
print(math.degrees((math.pi/2)))
print(math.radians(60))

Sine: 0.8660254037844386
Arc Sine: 0.0

Cosine: 0.8660254037844387
Arc Cosine: 0.0

Tan: 1.7320508075688767
Arc Tan: 0.7853981633974483

Arc tan2: -0.7853981633974483

90.0
1.0471975511965976